Repository FRONT-END-BOOTCAMP-PLUS-4/Jackpot_Plug, pull requests merged in 2025-04, with the labels that each got.

#21 feat / PLUG-47-MainPage : musics 페이지 구현 1차
  app/(anon)/components/PlaylistSaveFunnelModal/CreatNewStepContent.tsx
  app/(anon)/components/PlaylistSaveFunnelModal/PlaylistSaveFunnelModal.tsx
  app/(anon)/components/PlaylistSaveFunnelModal/ReviewStepContent.tsx
  app/(anon)/components/PlaylistSaveFunnelModal/SelectStepContent.tsx
  app/(anon)/components/PlaylistSaveFunnelModal/stepConfig.ts
  app/(anon)/components/PlaylistSaveFunnelModal/styles.module.scss
  app/(anon)/components/PlaylistSaveFunnelModal/usePlaylistSaveFunnel.ts
  app/(anon)/components/VideoExtractor.tsx
  app/(anon)/components/musicInfoCard/MusicInfoCard.module.scss
  app/(anon)/musics/[videoId]/page.module.scss
  app/(anon)/musics/[videoId]/page.tsx
  app/(anon)/page.module.scss
  app/api/musics/route.ts
  app/api/musics/search/route.ts
  app/components/input/TextInput.tsx
  app/components/list/ListItem.module.scss
  app/components/list/ListItem.tsx
  application/usecases/musics/GetVideoContents.ts
  application/usecases/musics/SearchMusicListUseCase.ts
  application/usecases/musics/dto/Music.dto.ts
  application/usecases/search/dto/SpotifyTrackDto.ts
  application/usecases/search/dto/YouTubeResultDto.ts
  domain/entities/Track.ts
  domain/entities/YouTubeVideo.ts
  hooks/useVideoExtract.ts
  infra/repositories/youtube/YouTubeApiRepoitory.ts
  public/assets/icons/minus.svg
  utils/fetchSongsByIsrc.ts
  utils/matchTracks.ts
  utils/musicUtils.ts
Labels: 🔌Feature, ⚒️ Refactor, 🐞Bug, 🎨Style

#22 feat / PLUG-13-PlaylistPage
  app/(anon)/playlist/[playlistId]/page.module.scss
  app/(anon)/playlist/[playlistId]/page.tsx
  app/(anon)/playlist/page.module.scss
  app/(anon)/playlist/page.tsx
  app/api/playlist/[playlistId]/route.ts
  app/api/playlist/route.ts
  app/components/button/Buttons.module.scss
  app/components/button/Buttons.tsx
  app/components/list/PlaylistItem.module.scss
  app/components/list/PlaylistItem.tsx
  app/components/modal/Modal.module.scss
  app/components/modal/RouteModal.tsx
  app/components/player/MusicPlayer.module.scss
  app/components/player/MusicPlayerItem.tsx
  application/usecases/playlist/DeletePlaylistUseCase.ts
  application/usecases/playlist/GetUserPlaylistsUseCase.ts
  application/usecases/playlist/dto/PlaylistDto.ts
  domain/entities/Playlist.ts
  domain/repositories/PlaylistRepository.ts
  infra/repositories/playlist/SupabasePlaylistRepository.ts
  public/assets/icons/delete-playlist.svg
  store/usePlaylistStore.ts
Labels: ✨ Feature, 🎨 Style

#24 feat / PLUG-51-CreatePlaylist - 플레이리스트 저장 기능 구현
  app/(anon)/components/PlaylistSaveFunnelModal/PlaylistSaveFunnelModal.tsx
  app/(anon)/components/PlaylistSaveFunnelModal/SelectStepContent.tsx
  app/(anon)/components/PlaylistSaveFunnelModal/styles.module.scss
  app/(anon)/components/PlaylistSaveFunnelModal/usePlaylistSaveFunnel.ts
  app/(anon)/musics/[videoId]/page.tsx
  app/(anon)/search/page.tsx
  app/api/playlist/[playlistId]/route.ts
  app/api/playlist/add/route.ts
  app/api/playlist/create/route.ts
  app/api/playlist/route.ts
  app/components/player/MusicPlayerItem.tsx
  app/components/toast/Toast.module.scss
  app/components/toast/page.tsx
  application/usecases/musics/SearchMusicListUseCase.ts
  application/usecases/musics/UpsertMusicsUseCase.ts
  application/usecases/musics/dto/UpsertMusics.dto.ts
  application/usecases/playlist/CreatePlaylistUseCase.ts
  application/usecases/playlist/InsertPlaylistVideoUsecase.ts
  application/usecases/playlist/dto/CreatePlaylist.dto.ts
  application/usecases/playlist/dto/InsertPlaylistVideo.dto.ts
  application/usecases/search/SearchMusicUseCase.ts
  application/usecases/search/SearchSpotifyTracksUseCase.ts
  domain/entities/Music.ts
  domain/repositories/MusicRepository.ts
  domain/repositories/PlaylistRepository.ts
  infra/repositories/supabase/SupabaseMusicRepository.ts
  infra/repositories/supabase/SupabasePlaylistRepository.ts
  infra/repositories/youtube/YouTubeApiRepoitory.ts
  package-lock.json
  package.json
  store/toast.ts
  store/usePlaylistStore.ts
  utils/matchTracks.ts
Labels: 🔮 Feature, 🐞 Bug, 💄 Style, 💡 Enhancement, 🔧 Chore

#25 feat / PLUG-14-PlaylistDetail
  app/(anon)/playlist/[playlistId]/page.module.scss
  app/(anon)/playlist/[playlistId]/page.tsx
  app/(anon)/playlist/page.module.scss
  app/api/playlist-videos/route.ts
  app/components/list/ListItem.module.scss
  app/components/list/ListItem.tsx
  app/components/player/MusicPlayer.module.scss
  public/assets/icons/playlist-pause.svg
  public/assets/icons/playlist-play.svg
Labels: 🔮 Feature, ♻️ Refactor, 💄 Style, ⏳ In progress
